.landing_container {
    height: 100vh;
    width: 100vw;
    display: flex;
    background: var(--bg-color);
    background-size: cover;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-position: center;

    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://shorturl.at/zBW14");
    /* background: rgb(2, 0, 36); */
    /* background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(0, 36, 27, 1) 0%, rgba(0, 212, 255, 1) 100%); */
}

.landing_title {
    display: flex;
    align-self: center;
    justify-self: center;
    color: var(--primary-color);
    /* height: 100vh;
    width: 100vw; */
    font-size: var(--large);
}

button {
    text-decoration: none !important;
    background-color: var(--hover-color);
    color: var(--bg-color);
    display: flex;
    align-self: center;
    justify-self: center;
    border: none;
    padding: 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: var(--med);

}

button:hover {
    text-decoration: none;
    background-color: var(--primary-color);
    transition: 0.5s ease;
}