@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&family=Schibsted+Grotesk&display=swap');

.employee_container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background: var(--bg-color);
    background-size: cover;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    background-position: center;

    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("https://shorturl.at/biCHU");
}


.employee_title {
    display: flex;
    align-self: center;
    font-size: var(--med);
    margin: var(--large);
    color: var(--secondary-color);
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Three equal columns */
    gap: 10px;
    /* Spacing between grid items */
}

/* Optional styling for table and table cells */
table {
    width: 100%;
    border-collapse: collapse;
}

td,
th {
    padding: 8px;
    border: 2px solid var(--primary-color);

}

td {
    font-family: 'Bowlby One', sans-serif;
    font-family: 'Schibsted Grotesk', sans-serif;
    color: var(--secondary-color);
    font-size: 20px;
}

th {
    background-color: var(--primary-color);
    font-size: 20px;

}