@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');

* {
  font-family: 'Bowlby One', sans-serif;
  padding: 0px;
  margin: 0px;

}

body {
  background-color: var(--bg-color);
}

:root {
  --bg-color: #000000;
  --hover-color: #e6acc1;
  --primary-color: #FAD2E1;
  --secondary-color: #BEE1E6;
  --large: 80px;
  --med: 30px;
  --small: 20px
}


.section__margin {
  margin: 2rem 4rem;
}